<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ucasproject">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UcasProject">
        <activity
            android:name=".Profile_Activity"
            android:exported="false" />
        <activity
            android:name=".InvoiceDetails"
            android:exported="false" />
        <activity
            android:name=".ShowAllInvoice"
            android:exported="false" />
        <activity
            android:name=".AllScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IssuingActivity"
            android:exported="false" />
        <activity
            android:name=".Add_user_admin.AddNewAdminActivity"
            android:exported="false" />
        <activity
            android:name=".Add_user_admin.AddNewUserActivity"
            android:exported="false" />
        <activity
            android:name=".InvoiceActivity"
            android:exported="false" />
        <activity
            android:name=".LoginRegister.SplashActivity"
            android:exported="false" />
        <activity
            android:name=".LoginRegister.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".LoginRegister.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>